<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">PBA</th>
        <th scope="col">Rework</th>
        <th scope="col">EETrack ID</th>
        <th scope="col">Notes</th>
        <th scope="col">Modified Date</th>
    </tr>
    </thead>
    <tbody>
    {% for rework in reworks_entities %}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{rework.pba}}</td>
        <td>{{rework.rework}}</td>
        <td>{{rework.eetrack_id}}</td>
        <td>{{rework.notes}}</td>
        <td>{{rework.modified_date}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
