{% extends 'base.html' %}


<!--
layout: default
title: Bootstrap Team Overview
active: dash_pages.team.team-overview
footer: false
pluginsCss:
- flatpickr/flatpickr.min.css
pluginsJs:
- flatpickr/flatpickr.min.js
- chart.js/Chart.min.js
pageJs:
- dash_pages/team-overview-demo.js
-->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static',
 filename='assets/vendor/flatpickr/flatpickr.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',
 filename='assets/vendor/datatables/extensions/buttons/buttons.bootstrap4.min.css') }}">
{% endblock %}


{% block content %}
<!-- .page -->
<div class="page has-sidebar has-sidebar-expand-xl">
    <!-- .page-inner -->
    <div class="page-inner">
        <!-- .page-title-bar -->
        <header class="page-title-bar">
            <!-- .d-flex -->
            <div class="d-flex justify-content-between align-items-center">
                <!-- .breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">
                            <a href="{{ url_for('product.products') }}">
                                <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Products
                            </a>
                        </li>
                    </ol>
                </nav>
                <!-- /.breadcrumb -->

                <button type="button" class="btn btn-light btn-icon d-xl-none" data-toggle="sidebar"><i
                        class="fa fa-angle-double-left"></i></button>
            </div>
            <!-- /.d-flex -->

            <!-- grid row -->
            <div class="row text-center text-sm-left">
                <!-- grid column -->
                <div class="col-sm-auto col-12 mb-2">
                    <!-- .has-badge -->
                    <div class="has-badge has-badge-bottom">
                        <a href="#" class="user-avatar user-avatar-xl">
                            <img src="{{ url_for('static', filename='assets/images/products/nic.png') }}" alt="">
                        </a>
                        <span class="tile tile-circle tile-xs" data-toggle="tooltip" title="Public"><i
                                class="fas fa-globe"></i></span>
                    </div>
                    <!-- /.has-badge -->
                </div>
                <!-- /grid column -->
                <!-- grid column -->
                <div class="col">
                    <h1 class="page-title">{{ title }}</h1>
                    <!-- <p class="text-muted"> This is a description! </p> -->
                </div>
                <!-- /grid column -->
            </div>
            <!-- /grid row -->

            <!-- .nav-scroller -->
            <div class="nav-scroller border-bottom">
                <!-- .nav-tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#overview-tab">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#pbas-tab">PBAs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#reworks-tab">Reworks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#runids-tab">Runids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#data-tab">Test Data</a>
                    </li>
                </ul>
                <!-- /.nav-tabs -->
            </div>
            <!-- /.nav-scroller -->
        </header>
        <!-- /.page-title-bar -->

        <!-- .tab-content -->
        <div class="tab-content pt-4" id="clientDetailsTabs">
            <!-- .tab-pane -->
            <div class="tab-pane fade show active" id="overview-tab" role="tabpanel"
                 aria-labelledby="product-overview-tab">
                {% include 'product/overview-tab.html' %}

            </div>
            <!-- /.tab-pane -->

            <!-- .tab-pane -->
            <div class="tab-pane fade" id="pbas-tab" role="tabpanel" aria-labelledby="product-pbas-tab">
                {% include 'product/pbas-tab.html' %}

            </div>
            <!-- /.tab-pane -->

            <!-- .tab-pane -->
            <div class="tab-pane fade" id="reworks-tab" role="tabpanel" aria-labelledby="product-reworks-tab">
                {% include 'product/reworks-tab.html' %}

            </div>
            <!-- /.tab-pane -->

            <!-- .tab-pane -->
            <div class="tab-pane fade" id="runids-tab" role="tabpanel" aria-labelledby="product-runids-tab">
                {% include 'product/runids-tab.html' %}

            </div>
            <!-- /.tab-pane -->

            <!-- .tab-pane -->
            <div class="tab-pane fade" id="data-tab" role="tabpanel" aria-labelledby="product-data-tab">
                <!-- {#{% include 'product/data-tab.html' %} #} -->

            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->


    </div>
    <!-- /.page -->
</div>

{% endblock %}


{% block plugin_js %}
<script src="{{ url_for('static', filename='assets/vendor/flatpickr/flatpickr.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',
 filename='assets/vendor/datatables/extensions/buttons/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static',
 filename='assets/vendor/datatables/extensions/buttons/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static',
 filename='assets/vendor/datatables/extensions/buttons/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static',
 filename='assets/vendor/datatables/extensions/buttons/buttons.print.min.js') }}"></script>

{% endblock %}

{% block page_js %}
<script src="{{ url_for('static', filename='assets/javascript/pages/team-overview-demo.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/pages/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='assets/javascript/pages/datatables-filters-demo.js') }}"></script>

{% endblock %}
