<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Runid</th>
        <th scope="col">PBA</th>
        <th scope="col">Rework</th>
        <th scope="col">Serial Number</th>
        <th scope="col">Configuration</th>
        <th scope="col">Status</th>
        <th scope="col">Comments</th>
        <th scope="col">Max Power</th>
        <th scope="col">Modified Date</th>
    </tr>
    </thead>
    <tbody>
    {% for runid in runids %}
    <tr>
        <th scope="row">{{runid._id}}</th>
        <td>{{runid.pba}}</td>
        <td>{{runid.rework}}</td>
        <td>{{runid.serial}}</td>
        <td>{{runid.testrun.configuration}}</td>
        <td>{{runid.status.status}}</td>
        <td>{{runid.status.comments}}</td>
        <td>{{runid.power.max_power}} W</td>
        <td>{{runid.modified_date}}</td>
        <td>
            <button data-id="{{runid._id}}" class="runidinfo btn btn-success"
                    formaction="/products/runids/runids_ajax">View Data
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="runidModal" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $('.runidinfo').click(function(){
            var runid = $(this).data('id');
            $.ajax({
                url: '/products/runids/runid_overview_ajax',
                type:'post',
                data: {runid: runid},
                success: function(data){
                    $('.modal-title').html("Runid: ").append(runid);
                    $('.modal-body').html(data);
                    $('.modal-body').append(data.htmlresponse);
                    $('#runidModal').modal('show');
                }
            });
        });
    });




</script>

