<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <meta name="theme-color" content="#3063A0"><!-- End FAVICONS -->
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet"><!-- End GOOGLE FONT -->
    <!-- BEGIN PLUGINS STYLES -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/vendor/open-iconic/css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/flatpickr/flatpickr.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <!-- BEGIN PLUGINS STYLES -->
    <!-- plugins styles goes here -->
    <!-- END PLUGINS STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/stylesheets/theme.min.css') }} "
          data-skin="default">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/stylesheets/theme-dark.min.css') }}"
          data-skin="dark">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/stylesheets/custom.css') }}">
    {% block theme %}{% endblock %}
    <!-- Disable unused skin immediately -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"> </script>
    <script>
      var skin = localStorage.getItem('skin') || 'default';
      var unusedLink = document.querySelector('link[data-skin]:not([data-skin="'+ skin +'"])');

      unusedLink.setAttribute('rel', '');
      unusedLink.setAttribute('disabled', true);




    </script>
    <!-- END THEME STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <!-- styles for specific page goes here -->
    <!-- END PAGE LEVEL STYLES -->


    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div class="app">
    <!-- .app-header -->
    <header class="app-header app-header-dark">
        {% include 'top-bar.html' %}
    </header><!-- /.app-header -->
    <!-- .app-aside -->
    <aside class="app-aside app-aside-expand-md app-aside-light">
        {% include 'aside.html' %}
    </aside><!-- /.app-aside -->
    <!-- .app-main -->
    <main class="app-main">

        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->

            {% block content %}{% endblock %}

        </div><!-- .app-footer -->
        <footer class="app-footer">
            {% include 'footer.html' %}
        </footer><!-- /.app-footer -->
        <!-- /.wrapper -->
    </main><!-- /.app-main -->
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- BEGIN BASE JS -->
<!--
<script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"> </script>
-->
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- Bootstrap Javascripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!--<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>-->
<!-- END BASE JS -->

<!-- BEGIN PLUGINS JS -->
<script src="{{ url_for('static', filename='assets/vendor/stacked-menu/stacked-menu.min.js') }}"></script>
{% block plugin_js %} {% endblock %}
<!-- END PLUGINS JS -->

<!-- BEGIN THEME JS -->
<script src="{{ url_for('static', filename='assets/javascript/theme.min.js') }}"></script>
<!-- END THEME JS -->

<!-- BEGIN PAGE LEVEL JS -->
<!-- your js for specific page goes here -->
{% block page_js %} {% endblock %}
<!-- END PAGE LEVEL JS -->
</body>
</html>