<!-- .top-bar -->
<div class="top-bar">
    <!-- .top-bar-brand -->
    <div class="top-bar-brand">
        <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='assets/images/brand-inverse.png') }}"
                                              alt=""
                                              style="height: 32px;width: auto;"></a>
    </div><!-- /.top-bar-brand -->
    <!-- .top-bar-list -->
    <div class="top-bar-list">
        <!-- .top-bar-item -->
        <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
            <!-- toggle menu -->
            <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside"
                    aria-label="toggle menu"><span class="hamburger-box"><span
                    class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
        </div><!-- /.top-bar-item -->
        <!-- .top-bar-item -->
        <div class="top-bar-item top-bar-item-full">
            <!-- .top-bar-search -->
            <form class="top-bar-search">
                <div class="input-group input-group-search">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Search" placeholder="Search">
                </div>
            </form><!-- /.top-bar-search -->
        </div><!-- /.top-bar-item -->
    </div><!-- /.top-bar-list -->
</div><!-- /.top-bar -->